
#test-n2 {
	position: relative;
	min-height: 400px !important;
	width: 150% !important;
}

#test-n2  #layui-laydate1,#test-n2  #layui-laydate1 .layui-laydate-main,#test-n2 .layui-laydate-content table{
	width: 100%;
	height:800px;
}

#test-n2 .layui-laydate-content table tbody{
	height:calc(100vh - 20px)!important;
}
.text_box{
	padding: 15px !important;
}
