body{
     background: blanchedalmond url("../image/bg.png") no-repeat fixed center 0;
 }
#enter{
    margin-left: 800px;
    /*background: url("../image/deng.png");*/
    width:850px;
    height:650px ;

}
#id{
    float: left;
    width: 200px;
    height: auto;
    margin-top:40px;
    margin-left: 50px;
}

#font{
    font-size: 30px;
    color: darkgray;
}
#checkpic{
    width:150px;
    height:100px
}
.enterbutton{
    font-size: 35px;
    font-weight: bold;
    font-family:"华文楷体";
    color: black;
    border-radius: 15px;
}
.ra{
    border-radius: 7px;
}